*{
    box-sizing: border-box;
}

html{
scroll-behavior: smooth;

}

img{
display: block;
max-width: 100%;
}

a{
text-decoration: none;
color:inherit;
}


ul{
list-style: none;
padding-left: 0;
margin-top: 0;
margin-bottom: 0;

}

body{
background-color: #BEBAB7;
}


.container{
display: flex;
align-items: self-end;
position: inherit;


}


.boxlogo{
display: flex;
flex-direction: column;
justify-content: space-around;
width: 396px;
height: 107px;
color: #222220;
    
}

.personal-data{
display: flex;
flex-direction: row;
font-family: "IBM Plex Mono";
font-size: 14px;
gap: 14px;
padding-left: 12px;
color: #222220;
        
}
@media screen and (width < 768px){
.personal-data{
font-size: 12px;
justify-content: space-between;
padding-right: 24px;
}

.boxlogo{
 justify-content: start;   
 gap: 12px;
}
}



.social{
display: flex;
padding-left: 12px;
color: #222220;
font-family: "IBM Plex Mono";
font-size: 14px;
line-height: 2;
gap: 14px;
}

@media screen and (width < 768px){
.social{
font-size: 12px;
justify-content: space-between;
padding-right: 24px;
}
}

.menudd{
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-family: "IBM Plex Mono";
    color: #222220;
    font-weight: 500;
    font-size: 14px;
    padding-left: 12px;
    
    }

    @media screen and (width < 768px){
        .menudd{
      display: none;

        }  
    
    }

/* Estilos para el botón flotante */



/* menu movil */
.menu-button{
    display: none;
}
@media screen and (width < 768px){
    .menu-button{
    position: fixed;
    bottom: 124px;
    right: 24px;
    width: 80px; /* Tamaño más accesible para clics */
    height: 80px;
    background-color: #222220;
    color: #BEBAB7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "IBM Plex Mono";
    font-size: 14px;
    cursor: pointer;
    }
}

.mobile-menu{
    display: none;
}
@media screen and (width < 768px){
  .mobile-menu{
    position: fixed;
    bottom: 120px;
    right: 20px;
    background-color: #BEBAB7;
    color: #222220;
    padding: 10px;
    display: none; /* Oculto por defecto */
    flex-direction: column;
    gap: 10px;
    font-family: "IBM Plex Mono";  
    text-align: right;
  } 
  
  .mobile-menu.active {
    display: flex;
}
}



@media screen and (max-width: 768px) {
    .menudd {
    margin-top: 130px;
    }
}




/* content */
.works{
display: flex;
flex-direction: column;
gap: 14px;
font-family: "IBM Plex Mono";
font-size: 12px;
color: #222220;
max-width: 100rem;
margin-top: 200px;
}

.item-project{
display: flex;
justify-content: space-between;
padding-left: 12px;
padding-top: 6px;
padding-bottom: 6px;
padding-right: 12px;
}

.item-project:hover {
background: red; /* efecto de fondo sutil */
color: #222220; /* opcional: color de texto en hover */
}

.client .year .tech{
padding-right: 12px;
}

@media screen and (width < 768px){
.works{
margin-top: 36px;
gap: 8px;
}

.item-project{
align-content:start;
padding-left: 12px;
}

.client{
align-content:start;
font-weight: 600;
}

.year{
font-size: 10px;

}

.tech{
font-size: 10px;

}
}





.footer{
display: flex;
width: 100%;
justify-content: space-between;
}




.menus {
font-size: 16px;
font-family: "IBM Plex Mono";
cursor: pointer;
padding-bottom: 19px;
}




/* Estilos de modo oscuro */
body.dark-mode {
    background-color: #222220; /* Fondo oscuro */
}

body.dark-mode .text-primary {
    color: #BEBAB7; /* Color de texto claro */
}

body.dark-mode .background-primary {
    background-color: #BEBAB7; /* Fondo claro para el modo oscuro */
}


menu.dark-mode{
    color: #BEBAB7;
}

.personal-data.dark-mode{
    color: #222220;
}

.menus.dark-mode{
   color: #BEBAB7; 
}

/* Clase para subrayar el modo activado */
.active {
    text-decoration: underline;
    font-weight: bold; /* Opcional para resaltar más */
    
}

/* Cambia el fondo y el color del texto en el modo oscuro */
body.dark-mode .boxlogo {
    background-color: #22222000; /* Fondo claro en modo oscuro */
}

body.dark-mode .boxlogo .text-primary {
    color: #BEBAB7; /* Texto oscuro en modo oscuro */
}

body.dark-mode  .boxlogo .url::after {
    background-color: #BEBAB7; }


.contact{
display: flex;
align-items: center;
justify-content: center;
position: absolute;
background-color: red;
border-radius: 50%;
width: 100px;
height: 100px;
margin-top: -100px;
font-size: 16px;
font-family: "IBM Plex Mono";
}

.footer{
position: absolute;
bottom: 0;
width: 100%; 
margin-left: 10px;
font-family: "IBM Plex Mono";

}

.change{
cursor: pointer;

}



/* dementia mode */
body.dementia-mode {
    background-image: url(../assets/mono2.gif) ;
    background-size: cover; /* Fondo oscuro para contraste */
}