*{
    box-sizing: border-box;
}

html{
scroll-behavior: smooth;

}

img{
display: block;
max-width: 100%;
}

a{
text-decoration: none;
color:inherit;
}


ul{
list-style: none;
padding-left: 0;
margin-top: 0;
margin-bottom: 0;

}

body{
background-color: #BEBAB7;
}




.boxlogo{
display: flex;
flex-direction: column;
width: 200px;
height: auto;
align-items: start;
color: #22222000;
padding-top: 32px;
}

@media screen and (width < 768px){
    .boxlogo{
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: flex-start;        

    }
}

.personal-data{
 display: flex;
flex-direction: row;
font-family: "IBM Plex Mono";
font-size: 14px;
gap: 8px;
position: fixed;
font-weight: 500;
padding-left: 12px;
color: #222220;                
}


@media screen and (width < 768px){
.personal-data{
    margin-top: -32px;
    font-size: 10px;
    position: fixed;
    width: 400px;
}
}

.box-personal{
display: flex;
flex-direction: column;
gap:8px;
}
@media screen and (width < 768px){
    .box-personal{
        flex-direction: row;
        gap: 16px;
    }

}
    
.url{
position: absolute;
margin-top: 124px;
margin-left: 170px;
color: #222220;
font-family: "IBM Plex Mono";
font-size: 16px;
font-weight: 500;
padding-left: 12px;
}  
.url::after{
content: "";
position: inherit;
width: 157px;
height: 1px;
margin-top: 10px;
margin-left: -343px;
background-color: #222220;
}
    
@media screen and (width < 768px){
.url{
display: none;    
}
}   

.social{
display: flex;
flex-direction: column;
margin-top: 360px;
padding-left: 12px;
color: #222220;
font-family: "IBM Plex Mono";
font-size: px;
line-height: 2;
}

@media screen and (width < 768px){
    .social{
        flex-direction: row;
        justify-content: space-between;
        width: 100vh;
        height: 30px;
        margin-top: 0px;
        padding-right: 8px;
        margin-right: 32px;
        position: sticky;
    }
}

.menudd{
    margin-top: 120px;
    display: flex;
    padding-right: 20px;
    flex-direction: column;
    align-items: end;
    gap: 19px;
    font-family: "IBM Plex Mono";
    color: #222220;
    font-weight: 700;
    width: 100%;
    font-size: 16px;
    position: fixed;
    
    }

    @media screen and (width < 768px){
        .menudd{
      display: none;

        }  
    
    }

/* Estilos para el botón flotante */


.menu-button{
    display: none;
}
@media screen and (width < 768px){
    .menu-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px; /* Tamaño más accesible para clics */
    height: 80px;
    background-color: #222220;
    color: #BEBAB7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "IBM Plex Mono";
    font-size: 14px;
    cursor: pointer;
    }
}

.mobile-menu{
    display: none;
}
@media screen and (width < 768px){
  .mobile-menu{
    position: fixed;
    bottom: 120px;
    right: 20px;
    background-color: #BEBAB7;
    color: #222220;
    padding: 10px;
    display: none; /* Oculto por defecto */
    flex-direction: column;
    gap: 10px;
    font-family: "IBM Plex Mono";  
    text-align: right;
  } 
  
  .mobile-menu.active {
    display: flex;
}
}



.footer{
display: flex;
width: 100%;
justify-content: space-between;
margin-top: 60vh;
}

/* Estilos de modo oscuro */
body.dark-mode {
    background-color: #222220; /* Fondo oscuro */
}

body.dark-mode .text-primary {
    color: #BEBAB7; /* Color de texto claro */
}

body.dark-mode .background-primary {
    background-color: #BEBAB7; /* Fondo claro para el modo oscuro */
}


menu.dark-mode{
    color: #BEBAB7;
}

.personal-data.dark-mode{
    color: #222220;
}

.menus.dark-mode{
   color: #BEBAB7; 
}

/* Clase para subrayar el modo activado */
.active {
    text-decoration: underline;
    font-weight: bold; /* Opcional para resaltar más */
    
}

/* Cambia el fondo y el color del texto en el modo oscuro */
body.dark-mode .boxlogo {
    background-color: #22222000; /* Fondo claro en modo oscuro */
}

body.dark-mode .boxlogo .text-primary {
    color: #BEBAB7; /* Texto oscuro en modo oscuro */
}

body.dark-mode  .boxlogo .url::after {
    background-color: #BEBAB7; }


.contact{
display: flex;
align-items: center;
justify-content: center;
position: absolute;
background-color: red;
border-radius: 50%;
width: 100px;
height: 100px;
margin-top: -100px;
font-size: 16px;
font-family: "IBM Plex Mono";
}



.change{
cursor: pointer;

}

/* dementia mode */
body.dementia-mode {
    background-image: url(../assets/mono2.gif) ;
    background-size: cover; /* Fondo oscuro para contraste */
}

/* PAGINA ABOUT */


.content-about{
font-family: "IBM Plex Mono" ;
font-size: 14px;
display: flex;
margin-left: 300px;
gap: 24px;
margin-right: 300px;
margin-top: -232px;
line-height: 2;

}

@media screen and (width < 768px){
    .content-about{
        margin-left: 16px;
        width: 100%;
        margin-top: 32px;
        padding-top: 20px;
        padding-right: 16px;
    }
    }



.skills-about{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 32px;
max-width: 60%;
font-family:"IBM Plex Mono";
margin-left: 300px;
line-height: 2;
}

.skills{
font-weight: 600;
}

@media screen and (width < 768px){
    .skills-about{
        margin-left: 16px;
        width: 100%;
        margin-top: -100px;
        padding-top: 120px;
        height: 100px;
    }

}
ul{
    list-style: none;
    padding: 0;
}

li{
    font-size: 14px;
    margin-bottom: 5px;
}

.footer{
    position: absolute;
    bottom: 0px ;
    width: 100%; 
    position: fixed;
    margin-left: 10px;
    padding-bottom: 12px;
    font-family: "IBM Plex Mono";
    }

    @media screen and (width < 768px){
        .footer{
        position:relative ;
        }
    }


